{% set title = lang["home"] %}
{% extends "master.html" %}
{% block body %}
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col", style="width:100%">
  <p>
    {{lang["open-tickets"]}}
    <table class="mdl-data-table mdl-js-data-table <!--mdl-data-table--selectable--> mdl-shadow--2dp" style="width: 100%;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">{{lang["ticket-status"]}}</th>
          <th class="mdl-data-table__cell--non-numeric">{{lang["ticket-title"]}}</th>
          <th class="mdl-data-table__cell--non-numeric">{{lang["ticket-time"]}}</th>
          <th class="mdl-data-table__cell--non-numeric">{{lang["ticket-created-by"]}}</th>
        </tr>
      </thead>
      {% for ticket in ticket_list %}
      <tr style="cursor: pointer" onclick="window.location='view/{{ticket.id}}'">
        <td class="mdl-data-table__cell--non-numeric" style="background: {{ 'lightcoral' if ticket.is_open and ticket.assigned_to_id==None else 'khaki' if ticket.is_open and ticket.assigned_to_id!=None else 'lightgreen'}}">{{lang["ticket-status-open"] if ticket.is_open and ticket.assigned_to_id==None else lang["ticket-status-assigned"] if ticket.is_open and ticket.assigned_to_id!=None else lang["ticket-status-closed"]}}
          {% if ticket.is_open %} 
          {% if ticket.assigned_to_id==None %}
          <span class="material-icons ticket-icon">error_outline</span>
          {% else %}
          <span class="material-icons ticket-icon">pending</span>
          {% endif %} {% else %}
          <span class="material-icons ticket-icon">check_circle</span>
          {% endif %}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ticket.title}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{datetime_module.datetime.fromtimestamp(ticket.time).strftime("%H:%M:%S, %m.%d.%Y")}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ticket.created_by.fullname}}</td> 
      </tr>
      {% endfor %}
    </table>
  </p>
</div>
{% endblock %}