{% set title = lang["home"] %}
{% extends "master.html" %}
{% block body %}
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col", style="width:100%">
  <p>
    {{lang["open-tickets"]}}
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">{{lang["ticket-title"]}}</th>
          <th class="mdl-data-table__cell--non-numeric">{{lang["ticket-status"]}}</th>
          <th>{{lang["ticket-time"]}}</th>
          <th class="mdl-data-table__cell--non-numeric">{{lang["ticket-created-by"]}}</th>
        </tr>
      </thead>
      {% for ticket in ticket_list %}
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{ticket.title}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{lang["ticket-status-open"] if ticket.is_open and ticket.assigned_to_id==None else lang["ticket-status-assigned"] if ticket.is_open and ticket.assigned_to_id!=None else lang["ticket-status-closed"]}}</td>
          <td class="mdl-data-table__cell--non-numeric">0</td>
          <td class="mdl-data-table__cell--non-numeric">{{ticket.created_by}}</td>
          <td>10</td>
          <td>$2.35</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </p>
</div>
{% endblock %}