{% set title = lang["view-ticket"]+" "+ticket.title %} {% extends "master.html" %} {% block body %}
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" , style="width: 100%">
    <h2>{{ticket.title}}</h2>
    {{lang["ticket-created-by"] + " " + ticket.created_by.fullname}}
    <div class="aux" style="float: left">
        <span class="mdl-chip ticket-status-chip" style="background: {{ 'lightcoral' if ticket.is_open and ticket.assigned_to_id==None else 'khaki' if ticket.is_open and ticket.assigned_to_id!=None else 'lightgreen'}}">
      <span class="mdl-chip__text">
        {{lang["ticket-status"]}}: {{lang["ticket-status-open"] if
        ticket.is_open and ticket.assigned_to_id==None else
        lang["ticket-status-assigned"] if ticket.is_open and
        ticket.assigned_to_id!=None else lang["ticket-status-closed"]}} {% if
        ticket.is_open %} {% if ticket.assigned_to_id==None %}
        <span class="material-icons ticket-icon">error_outline</span> {% else %}
        <span class="material-icons ticket-icon">pending</span> {% endif %} {% else %}
        <span class="material-icons ticket-icon">check_circle</span> {% endif %}
        </span>
        </span>
        <span class="mdl-chip ticket-status-chip" style="margin-left: 10px; margin-right: 10px">
      <span class="mdl-chip__text">
        {{lang["not-assigned"] if ticket.assigned_to_id == None else
        lang["assigned-to"]+" "+ticket.assigned-to.name}}
      </span>
        </span>
        {% if g.current_user.id == ticket.created_by_id or g.current_user.highPermissionLevel %} {% if ticket.is_open %}
        <a href="{{ticket.id}}/close" style="text-decoration: none">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        {{lang["close-ticket"]}}
      	    </button>
        </a>
        {% else %}
        <a href="{{ticket.id}}/reopen" style="text-decoration: none">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        {{lang["reopen-ticket"]}}
            </button>
        </a>
        {% endif %} {% endif %}
    </div>
    <hr />
    <p>{{ticket.text}}</p>
</div>
{% for ticketreply in replies %}
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" , style="width: 100%">
    <div class="aux" style="float: left">
        {{lang["ticket-reply-by"] + " " + ticketreply.created_by.fullname}}
    </div>
    <hr />
    <p>{{ticketreply.text}}</p>
</div>
{% endfor %}
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" style="width: 100%">
    <form action="{{url_for('createTicketReply', ticketid = ticket.id)}}" method="POST">
        {{lang["write-reply"]}}</br>
        <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" rows="3" id="reply-textbox" name="reply-text" style="width: 100%"></textarea>
            <label class="mdl-textfield__label" for="reply-textbox">{{lang["ticket-text-placeholder"]}}</label
      >
    </div>

    <button
      type="submit"
      class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
    >
      {{lang["save"]}}
    </button>
  </form>
</div>
{% endblock %}